h1{
	color: white;
}
.opis{
	margin-top:5%;
	text-align: center;
}
.tabela{
	width: 60%;
	height:500px;
	background-color: white;
	margin-top:10%;
	margin-bottom:10%;
	margin-left:20%;
	margin-right:20%;
}
.lewa{
	width:35%;
	height:100%;
	float:left;
}
.prawa{
	width:65%;
	height:100%;
	display: grid;
}
.g1{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}
.g2{
	grid-column-start: 2;
	grid-column-end: 3;
    grid-row-start: 1;
	grid-row-end: 2;
}
.g3{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}
.g4{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}
.g5{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}
.g6{}
.pole{
	width: 80%;
	margin-left:10%;
	margin-right:10%;
}
.pole{
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
}
#button1{
	font-family: 'Berkshire Swash', sans-serif;
	font-size: 18px;
    color: #fff1111;
	text-align: center;
	margin-top:2vh;
	margin-bottom:2vh;
}